[Unit]
Description=thin-edge.io container monitor
After=mosquitto.service

[Service]
EnvironmentFile=-/etc/tedge-container-monitor/env
ExecStart=/usr/bin/tedge-container run
User=root
Restart=always
RestartSec=5
ExecReload=/usr/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
